<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
    <% if notification.read %>
      <% read_state="既読" %>
    <% else %>
      <% read_state="未読" %>
    <% end %>
      <hr>
      <li>
        <span><%= read_state %></span>
        <p>
          <%= notification.comment.user.try(:name) %>さんがあなたのブログ<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>にコメントしました。
        </p>
        <p><%= posted_time(notification.created_at) %></p>
      </li>
    <% end %>
</ul>
